extends ../layout.pug

block content
  style.
    .carousel{
      max-height: 50rem;
    }

    .carousel-inner{
      background-color: darkgray;
    }

    .story-card{
      height: 95%;
      margin-top: 1em;
      margin-bottom: 0em;
    }

    .story-card>img{
        max-height: 65%;
        height: 65%;
        width: 100%;
        object-fit: fill;
    }
    .card-body{
      padding: 0.5rem;
    }
  div 
    h1.text-center.text-info Danh sách truyện
  .container
    each bucket in buckets 
      .row.d-flex.justify-content-left
        each story in bucket
          .col-md-3
            .card.story-card
              img.card-img-top.d-block.img-fluid(src=`${story.image_path}`)
              .card-body
                h5.card-title.text-primary= story.name
                h5.card-title.text-secondary= story.author
              .d-flex.justify-content-center.m-0.p-0
                a.btn.btn-success(href=`/story/overview?id=${story.id}`) Đọc ngay
      
