extends ../layout.pug

block content
  #storyManage 
    .w-50.m-auto
        h2.text-info.text-center.mb-5 Quản lý danh sách truyện
    .w-100.m-auto.mt-5#storyGrid
  script(src="/javascripts/story_manage.js") 