extends ../layout.pug

block title 
    title= "Hình thức upload"

block content
    .d-flex.justify-content-center.align-item-center(style="height:75vh")
        .card.w-50.h-50 
            .card-header.d-flex.justify-content-left 
                span.fa.fa-2x.text-warning.fa-question   
                h4.ml-3 Hãy chọn hình thức upload
            .card-body 
                h4.card-title Bạn muốn upload theo hình thức nào?
            .card-footer
                .d-flex.justify-content-between 
                    a.btn.btn-success(href="/story/upload/entire") Upload toàn bộ
                    a.btn.btn-info(href="/story/upload/each-chapter") Upload từng chương
    