extends ../layout.pug

block content 
    .w-50.m-auto
        h2.text-info.text-center.mb-5 Upload story
    .w-50.m-auto.mt-5
        form(action="/story/upload" method="post" enctype="multipart/form-data")#uploadForm 
        #storyUpload(action="/story/upload" method="POSt")
            .form-group
                label(for="file") Story file(only pdf)
                input(type="file" name="file" id="file" aria-label="file")
            #specified-pages
        #avatarUpload 
            .form-group
                label(for="coverImage") Story cover image
                input(type="file" name="coverImage" id="coverImage" aria-label="file")

    script(src="/javascripts/story_upload.js")