extends layout

block content
  .failure-screen
    .d-flex.justify-content-center.mt-4
      if error
        .d-flex.align-items-center
          h2.bg-info= error.status
          pre.text-danger.bg-dark #{error.stack}
      else 
        h2.text-center.text-danger= message
      