extends layout

block content
  .failure-screen
    .d-flex.justify-content-center.align-items-center.mt-4
      h2.text-center.text-danger= message
      if error
        h2.bg-info= error.status
        pre.text-danger.bg-dark #{error.stack}
