extends ../layout.pug
block content
    link(rel="stylesheet" href="/stylesheets/users.css")
    .d-flex.flex-row.align-items-center.justify-content-center.w-100.h-100#users-form
            form.p-5.border.rounded.border-secondary.w-50.h-75(action="/user/login", method="post")
                .form-group
                    h3.text-white Login form
                .form-group 
                    label(for="userEmail") Email 
                    input.form-control(type="email" id="userEmail" aria-describedby="Your email")
                .form-group 
                    label(for="userPassword") Password 
                    input.form-control(type="password" id="userPassword" placeholder="Your password")
                .form-group.form-check 
                    input.form-check-input#policy-check(type="checkbox")
                    label(for="policy-check") Remember me
                .form-group
                    a.link(href="/users/register") Does not have an account. Register now!
                button.btn.btn-primary(type="submit") Login
                