#story-overview, .list-chapters{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3em;
}

#story-overview{
    display: flex;
    justify-items: first baseline;
    padding: 1em;
}

.story-image{
    min-width: 25%;
    min-height: 40%;
    margin-right: 5em;
}

.story-image>img{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.list-chapters>table .first{
    width: 90%;
}