body{
    padding: 0rem;
}

a.link{
    color: #ffcdb2;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;;
}

#users-form{
    background-image: url("/images/users-background.jpg");
    background-size: cover;
    min-height: 100vh;
}

#users-form>form{
    background-color: rgba(72, 149, 239, 0.7);
}
#users-form>form label{
    color: whitesmoke;
}