extends ../layout.pug

block content
    #genreManage
        .w-50.m-auto
            h2.text-info.text-center.mb-5 Manage genres of story
        .w-75.m-auto.mt-5#genreGrid             
    script(src="/javascripts/genre_manage.js")
